<div>
  <ol>
    <li>
      <mat-form-field>
        <textarea matInput [(ngModel)]="data.message" name="
        msm" placeholder="Send a message to your match about why you have to cancel the lunch"></textarea>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <textarea matInput name="msh" [(ngModel)]="data.message2" placeholder="Send a message to HR match about why you have to cancel the lunch"></textarea>
      </mat-form-field>
    </li>
    <li>
      <button (click)="closeDialog()">Cancel</button>
    </li>
    <li>
      <!-- <button (click)="saveMessage(msm, msh)">Send</button> -->
      <button [mat-dialog-close]="data">Send</button>
      
    </li>
  </ol>
</div>